.chat-gpt-demo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50%;
    max-width: 30em;
    min-width: 20em;
    height: 35em;
}

.chat-gpt-demo-text-container {   
    width: 100%;
    height: 60%;
    background-color: #b892ff;
    border-radius: 10px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-gpt-demo-text {
    position: relative;
	width: 80%;
    margin-bottom: 1.5em;
    padding: 0.3em;
}

