/* QuizContainer.css */
.quiz-container-container {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .quiz-container-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
 