/* App.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #333333;
  color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

#root {
  margin: 0 auto;
  padding: 20px;
  height: 90%;
}

h1 {
  font-size: 70px;
  color: #ffffff;
}

h2 {
  font-size: 40px;
  color: #ffffff;
  margin: 0.05em;
}

button {
  background-color: #b892ff;
  color: #3d3d3d;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input-text {
	outline: none;
	border:none;
	border-bottom: 1px solid #3d3d3d;
 	box-shadow: none !important;
  background: transparent;
  font-size: 18px;
  width: 100%;
}


.input-text:focus{
  border-color: #ffffff;
	border-width: medium medium 2px;
}

.floating-label {
	position: absolute;
	pointer-events: none;
	top: 18px;
	left: 10px;
	transition: 0.2s ease all;
}

.input-text:focus ~ .floating-label,
.input-text:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}